:root {
	--bkg-col: #1f2937;
	--h2-col: #ccc1ff;
	--p-col: #f5f5f5;
	--boxOne: #6943ff;
	--boxTwo: #28374c;
}

body {
	background-color: var(--bkg-col);
}

h2 {
	color: var(--h2-col);
}

h1,
p {
	color: var(--p-col);
}

#boxOne {
	background-color: var(--boxOne);
}

#boxTwo {
    background-color: var(--boxTwo);
}
